{% extends 'base.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block body %}



<div class="container" style="font-family: Arial, Helvetica, sans-serif; margin-top:10rem;">
    <div class="mt-3 p-3 border border-secondary rounded bg-light">
        <h4 class="text-center">BIENVENIDO {{app.session.get('id')}} AL PANEL DE ADMINISTRACION</h4>
    </div>
</div>
<a class="button" href="{{path('app_logout')}}">
    Salir
</a>
{% endblock %}